.swiper {
  width: 70%;
  height: 100%;
}

.swiper-button-next {
  right: 25.5px !important;
  color: white !important;
}

.swiper-button-prev {
  left: 0 !important;
  color: white !important;
}

.swiper-button-prev::after {
  content: "";
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: #164e63;
  padding: 10px;
  width: 90px;
  height: 70px;
}

.swiper-button-next::after {
  content: "";
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: #164e63;
  padding: 10px;
  width: 90px;
  height: 70px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px !important;
  line-height: 5 !important;
}
